@{
    ViewData["Title"] = "Acerca de";
    ViewData["TitleHeader"] = "Acerca de";
    ViewData["imagen"] = "/assets/img/about-bg.jpg";
    ViewData["SubTitleHeader"] = "Conozca nuestra historia";
}

<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum laboriosam similique, consequatur aspernatur eum dolor aliquam nemo possimus odio repellendus repudiandae. Nam reiciendis consequuntur laudantium iste, obcaecati quis illum accusantium.
    </p>
</div>