@model Contacto
@{
    ViewData["Title"] = "Contacto";
    ViewData["TitleHeader"] = "Contacto";
    ViewData["imagen"] = "/assets/img/contact-bg.jpg";
    ViewData["SubTitleHeader"] = "Contactanos ya";
}

<p>Contactenos y nos comunicaremos con Ud</p>
<div class="my-5">
    <form asp-action="Contacto">
        <partial name="_FormContacto" model="@Model"/>
        <button type="submit" value="Contacto" class="btn btn-primary text-uppercase disabled">Enviar</button>
    </form>
    
</div>